{% extends 'FormationArticleBundle::layout.html.twig' %}
    {%block body%}
        <br/>
        <h1>Nouvel Article</h1>
            <p>
            <form method='POST' {{form_enctype(aForm)}}>
            {{form_widget(aForm)}}
            </form>
    {%endblock%}{# empty Twig template #}
